POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=sati_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
ENCRYPTION_KEY=vM3R-P2Y6jQ1X5W8Z9K0L4M7N2B5V8C1X4Z7M9L0K3I=
LOG_FILE=data_logs/audit_trail.log
